---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>astro</title>
	</head>
	<body>
    <a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

  <h1>about me</h1>
  <h2>... and my new astro site!</h2>

  <p>i am working through astro's introductory tutorial. this is the second page on my website, and it's the first one i built myself!</p>

  <p>this site will update as i complete more of the tutorial, so keep checking back and see how my journey is going!</p>	</body>
</html>
